## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.db

## NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET
wwwroot/lib/

## Secrets / Config
appsettings.Development.json
appsettings.Production.json
*.pfx
*.p12
secrets.json

## OS
.DS_Store
Thumbs.db
desktop.ini

## IDE
.idea/
*.swp
*.swo
